<div id="card-review" v-cloak>
  <div class="ui container">
    <div class="ui stackable centered grid">
      <div class="ui ten wide column">
        <div class="ui basic segment" v-if="!card">
          <a href="/cards/create">Add Card</a> to strat review
        </div>
        <div class="ui basic segment" v-if="card">
          <div class="ui inverted dimmer">
            <div class="ui text loader">Loading</div>
          </div>
          <div class="ui fluid blue card">
            <div class="extra content">
              <div class="right floated meta">{{formatDate(card.createdAt)}}</div>
            </div>
            <div class="content">
              <div class="ui header">
                {{card.question}}
              </div>
              <div class="description">
                <div class="trix-content" v-html="card.answer"></div>
              </div>
            </div>

            <div class="extra content">
              <div class="ui label" v-for="tag in card.tags">{{tag.name}}</div>
            </div>
          </div>
          <div class="ui basic placeholder segment">
            <div class="inline">
              <div class="ui animated fluid blue button" tabindex="0" @click="updateReview(true)">
                <div class="visible content">Show me next</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>

  <style>
    .segment .text {
      resize: none;
      outline: none;
      width: 100%;
      padding: 10px;
      border: none;
      height: 100%;
      margin: -10px;
    }
  </style>