<br>
<br>
<br>
<br>
<div class="ui basic segment">
  <h1 class='ui center aligned header' style="font-size:3em">
    KuickCards
  </h1>
  <div class="ui vertical stripe segment">
    <div class="ui text center aligned container">
      <p>Kuickcards.com makes memory a choice.</p>
      <p>Add your learnings in simple Q&A flashcards.</p>
      <p>Create Decks and learn wherever you want.</p>
    </div>
  </div>
</div>