<div class="ui basic segment">
    <br>
    <h3 class="ui horizontal header divider">On active recalling and space repetion</h3>
    <div class="ui center aligned basic segment">
        
        <p>
            <a href="https://twitter.com/michael_nielsen/status/957763229454774272">The use of spaced repetition memory systems.</a>
        </p>
        <p>
            <a href="http://augmentingcognition.com/ltm.html">Augmenting Long-term Memory</a>
        </p>
        <p>
            <a href="http://devonzuegel.com/post/thoughts-on-spaced-repetition">Thoughts on spaced repetition, devonzuegel</a>
        </p>
        <p>
            <a href="https://ryanholiday.net/the-notecard-system-the-key-for-remembering-organizing-and-using-everything-you-read/">The notecard system</a>
        </p>
        <p>
            <a href="https://ncase.me/remember/">How to remember anything forever-ish</a>
        </p>
    </div>

</div>
</div>