<div id="stats" v-cloak>

  <div class="ui container">
    <div class="ui compact basic segment">
      <div class="ui inverted dimmer">
        <div class="ui text loader">Loading</div>
      </div>
      <select class="ui fluid dropdown" v-model="filter" @change="filterChanged()">
        <option value="2018">2018</option>
        <option value="2019">2019</option>
      </select>
    </div>
    <canvas id="canvas"></canvas>
  </div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>